body {
  background-color: #f8f8f8;
}

img {
width: 250px; 
border-radius: 50%;
}

*{
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

#landing,
#gallery {
  height: 80vh;
  /* center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
  padding: 0;
  color: #fff;
}
h2 {
  color: #077bff;
}
